In [ ]:
import pandas as pd 

df = pd.read_csv("datasets/avocado.csv")

albany_df = df[df['region']=="Albany"]
albany_df.set_index("Date", inplace=True)

albany_df["AveragePrice"].plot()

In [ ]:
df = pd.read_csv("datasets/avocado.csv")

df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
albany_df = df[df['region']=="Albany"]
albany_df.set_index("Date", inplace=True)

albany_df["AveragePrice"].plot()

In [ ]:
albany_df["AveragePrice"].rolling(25).mean().plot()

In [ ]:
albany_df.sort_index(inplace=True)

In [ ]:
albany_df["AveragePrice"].rolling(25).mean().plot()

In [ ]:
albany_df["price25ma"] = albany_df["AveragePrice"].rolling(25).mean()

In [ ]:
albany_df.head()

In [ ]:
albany_df.tail()

In [ ]:
albany_df = df.copy()[df['region']=="Albany"]
albany_df.set_index('Date', inplace=True)
albany_df["price25ma"] = albany_df["AveragePrice"].rolling(25).mean()

In [ ]:
df['region']

In [13]:
df['region'].values

array(['Albany', 'Albany', 'Albany', ..., 'WestTexNewMexico',
       'WestTexNewMexico', 'WestTexNewMexico'], dtype=object)

In [14]:
df['region'].values.tolist()

# and then maybe get the uniques with:

print(set(df['region'].values.tolist()))

{'Chicago', 'Indianapolis', 'Boston', 'Northeast', 'Syracuse', 'RaleighGreensboro', 'Seattle', 'HarrisburgScranton', 'Tampa', 'Spokane', 'DallasFtWorth', 'West', 'GrandRapids', 'Charlotte', 'Jacksonville', 'HartfordSpringfield', 'WestTexNewMexico', 'Midsouth', 'Plains', 'Sacramento', 'SanDiego', 'California', 'StLouis', 'SouthCentral', 'Boise', 'LosAngeles', 'Houston', 'Nashville', 'Roanoke', 'SouthCarolina', 'GreatLakes', 'Atlanta', 'CincinnatiDayton', 'MiamiFtLauderdale', 'NorthernNewEngland', 'Philadelphia', 'SanFrancisco', 'Orlando', 'NewOrleansMobile', 'BaltimoreWashington', 'Pittsburgh', 'Columbus', 'Southeast', 'Detroit', 'TotalUS', 'Louisville', 'LasVegas', 'RichmondNorfolk', 'Albany', 'BuffaloRochester', 'NewYork', 'Denver', 'Portland', 'PhoenixTucson'}

In [15]:
df['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [16]:
graph_df = pd.DataFrame()

for region in df['region'].unique()[:16]:
    print(region)
    region_df = df.copy()[df['region']==region]
    region_df.set_index('Date', inplace=True)
    region_df.sort_index(inplace=True)
    region_df[f"{region}_price25ma"] = region_df["AveragePrice"].rolling(25).mean()

    if graph_df.empty:
        graph_df = region_df[[f"{region}_price25ma"]]  # note the double square brackets!
    else:
        graph_df = graph_df.join(region_df[f"{region}_price25ma"])

Albany
Atlanta
BaltimoreWashington
Boise
Boston
BuffaloRochester
California
Charlotte
Chicago
CincinnatiDayton
Columbus
DallasFtWorth
Denver
Detroit
GrandRapids
GreatLakes

In [17]:
graph_df.tail()

,Albany_price25ma,Atlanta_price25ma,BaltimoreWashington_price25ma,Boise_price25ma,Boston_price25ma,BuffaloRochester_price25ma,California_price25ma,Charlotte_price25ma,Chicago_price25ma,CincinnatiDayton_price25ma,Columbus_price25ma,DallasFtWorth_price25ma,Denver_price25ma,Detroit_price25ma,GrandRapids_price25ma,GreatLakes_price25ma
Date,,,,,,,,,,,,,,,,
2018-03-25,1.4368,1.2884,1.3844,1.5016,1.588,1.2232,1.4232,1.4916,1.5708,1.2792,1.1704,1.118,1.2888,1.1492,1.3264,1.2788
2018-03-25,1.4368,1.2884,1.3844,1.5016,1.588,1.2232,1.4232,1.4916,1.5708,1.2792,1.1704,1.118,1.2888,1.1728,1.3164,1.2568
2018-03-25,1.4368,1.2884,1.3844,1.5016,1.588,1.2232,1.4232,1.4916,1.5708,1.2792,1.1704,1.118,1.2888,1.1728,1.3164,1.2788
2018-03-25,1.4368,1.2884,1.3844,1.5016,1.588,1.2232,1.4232,1.4916,1.5708,1.2792,1.1704,1.118,1.2888,1.1728,1.3264,1.2568
2018-03-25,1.4368,1.2884,1.3844,1.5016,1.588,1.2232,1.4232,1.4916,1.5708,1.2792,1.1704,1.118,1.2888,1.1728,1.3264,1.2788

In [2]:
graph_df.plot(figsize=(8,5), legend=False)

NameError: name 'graph_df' is not defined